In [1]:
import pandas as pd
import numpy as np
from datetime import datetime as dt
data = {u'2012-06-08': 388,
 u'2012-06-09': 388,
 u'2012-06-10': 388,
 u'2012-06-11': 389,
 u'2012-06-12': 389,
 u'2012-06-13': 389,
 u'2012-06-14': 389,
 u'2012-06-15': 389,
 u'2012-06-16': 389,
 u'2012-06-17': 389,
 u'2012-06-18': 390,
 u'2012-06-19': 390,
 u'2012-06-20': 390,
 u'2012-06-21': 390,
 u'2012-06-22': 390,
 u'2012-06-23': 390,
 u'2012-06-24': 390,
 u'2012-06-25': 391,
 u'2012-06-26': 391,
 u'2012-06-27': 391,
 u'2012-06-28': 391,
 u'2012-06-29': 391,
 u'2012-06-30': 391,
 u'2012-07-01': 391,
 u'2012-07-02': 392,
 u'2012-07-03': 392,
 u'2012-07-04': 392,
 u'2012-07-05': 392,
 u'2012-07-06': 392}
df = pd.DataFrame(list(data.items()), columns=['Date', 'DateValue'])
df['Date'] = pd.to_datetime(df['Date'])
df.head(), df.tail()

(        Date  DateValue
 0 2012-06-08        388
 1 2012-06-09        388
 2 2012-06-10        388
 3 2012-06-11        389
 4 2012-06-12        389,
          Date  DateValue
 24 2012-07-02        392
 25 2012-07-03        392
 26 2012-07-04        392
 27 2012-07-05        392
 28 2012-07-06        392)

In [2]:
df.rename(columns = {'DateValue':'Money'}, inplace = True)
df.head(), df.tail()

(        Date  Money
 0 2012-06-08    388
 1 2012-06-09    388
 2 2012-06-10    388
 3 2012-06-11    389
 4 2012-06-12    389,
          Date  Money
 24 2012-07-02    392
 25 2012-07-03    392
 26 2012-07-04    392
 27 2012-07-05    392
 28 2012-07-06    392)

In [7]:
df['rres'] =  (df['Money']*-1).where((df['Date']>dt(2012, 6, 26))| (df['Money']>100) , df['Money'])

In [8]:
df.head(), df.tail()

(        Date  Money  rres
 0 2012-06-08    388  -388
 1 2012-06-09    388  -388
 2 2012-06-10    388  -388
 3 2012-06-11    389  -389
 4 2012-06-12    389  -389,
          Date  Money  rres
 24 2012-07-02    392  -392
 25 2012-07-03    392  -392
 26 2012-07-04    392  -392
 27 2012-07-05    392  -392
 28 2012-07-06    392  -392)

In [10]:
cars = {'name':['Toyota', 'VAZ', 'BMW', 'Suzuki', 'Mercedez-Benz'],
        'model': ['Mark2', '2109', 'm5 f90','Grand Vitara', 'W211'],
        'country':['Japan', 'Russia', 'Germany', 'South Korea', 'Germany'],
        'price':[20000,5000,200000,18000, 6000]}
df2 = pd.DataFrame(cars)
df2

            name         model      country   price
0         Toyota         Mark2        Japan   20000
1            VAZ          2109       Russia    5000
2            BMW        m5 f90      Germany  200000
3         Suzuki  Grand Vitara  South Korea   18000
4  Mercedez-Benz          W211      Germany    6000

In [19]:
data ={'cars': [{'title': 'Объявление «ВАЗ (LADA) Granta 1.6  MT, 2013, 123 000 км» 5 фотографий', 'link': '/chelyabinsk/avtomobili/vaz_lada_granta_1.6_mt_2013_123_000_km_3345842355'}, {'title': 'Объявление «ВАЗ (LADA) Vesta Cross, 2021» 24 фотографии', 'link': '/ekaterinburg/avtomobili/vaz_lada_vesta_cross_2021_3282039387'}, {'title': 'Объявление «ВАЗ (LADA) 2111 1.5  MT, 2003, 150 000 км» 7 фотографий', 'link': '/zlatoust/avtomobili/vaz_lada_2111_1.5_mt_2003_150_000_km_3127695292'}, {'title': 'Объявление «ВАЗ (LADA) 2110 1.5  MT, 2004, 157 000 км» 8 фотографий', 'link': '/chelyabinsk/avtomobili/vaz_lada_2110_1.5_mt_2004_157_000_km_3226263197'}, {'title': 'Объявление «ВАЗ (LADA) 2108 1.5  MT, 1999, битый, 165 000 км» 5 фотографий', 'link': '/argayash/avtomobili/vaz_lada_2108_1.5_mt_1999_bityy_165_000_km_3128782484'}, {'title': 'Объявление «ВАЗ (LADA) Vesta, 2020» 32 фотографии', 'link': '/ekaterinburg/avtomobili/vaz_lada_vesta_2020_3088366681'}, {'title': 'Объявление «ВАЗ (LADA) 2104, 1988» 8 фотографий', 'link': '/zlatoust/avtomobili/vaz_lada_2104_1988_3148562775'}, {'title': 'Объявление «ВАЗ (LADA) 2107 1.5  MT, 2005, 54 330 км» 15 фотографий', 'link': '/chelyabinsk/avtomobili/vaz_lada_2107_1.5_mt_2005_54_330_km_3338547543'}, {'title': 'Объявление «ВАЗ (LADA) Vesta, 2023» с фотографией', 'link': '/chelyabinsk/avtomobili/vaz_lada_vesta_2023_3094383859'}, {'title': 'Объявление «ВАЗ (LADA) Vesta, 2023» с фотографией', 'link': '/ekaterinburg/avtomobili/vaz_lada_vesta_2023_2992808823'}, {'title': 'Объявление «ВАЗ (LADA) Vesta 1.6  MT, 2023» с фотографией', 'link': '/miass/avtomobili/vaz_lada_vesta_1.6_mt_2023_3107255930'}, {'title': 'Объявление «ВАЗ (LADA) 2109, 2003» 4 фотографии', 'link': '/kasli/avtomobili/vaz_lada_2109_2003_2908569583'}, {'title': 'Объявление «ВАЗ (LADA) 2111 1.6  MT, 2007, 239 900 км» 17 фотографий', 'link': '/chelyabinsk/avtomobili/vaz_lada_2111_1.6_mt_2007_239_900_km_3152854469'}, {'title': 'Объявление «ВАЗ (LADA) 2113 Samara 1.6  MT, 2012, 65 000 км» 16 фотографий', 'link': '/chelyabinsk/avtomobili/vaz_lada_2113_samara_1.6_mt_2012_65_000_km_2774973560'}, {'title': 'Объявление «ВАЗ (LADA) 2115 Samara 1.5  MT, 2003, 237 000 км» 2 фотографии', 'link': '/nizhniy_tagil/avtomobili/vaz_lada_2115_samara_1.5_mt_2003_237_000_km_3175363837'}, {'title': 'Объявление «ВАЗ (LADA) 2112 1.6  MT, 2006, 250 000 км» 5 фотографий', 'link': '/alapaevsk/avtomobili/vaz_lada_2112_1.6_mt_2006_250_000_km_3102886393'}, {'title': 'Объявление «ВАЗ (LADA) 2121 (4x4) Urban 1.7  MT, 2018, 47 512 км» 11 фотографий', 'link': '/yaroslavl/avtomobili/vaz_lada_2121_4x4_urban_1.7_mt_2018_47_512_km_2338958948'}, {'title': 'Объявление «ВАЗ (LADA) 2104, 1985» 6 фотографий', 'link': '/snezhinsk/avtomobili/vaz_lada_2104_1985_3059591090'}, {'title': 'Объявление «ВАЗ (LADA) Vesta 1.6  MT, 2017, битый, 185 000 км» 11 фотографий', 'link': '/chelyabinsk/avtomobili/vaz_lada_vesta_1.6_mt_2017_bityy_185_000_km_3458456989'}, {'title': 'Объявление «ВАЗ (LADA) Granta, 2016» 15 фотографий', 'link': '/ekaterinburg/avtomobili/vaz_lada_granta_2016_2895447047'}, {'title': 'Объявление «ВАЗ (LADA) XRAY Cross, 2019» 17 фотографий', 'link': '/ekaterinburg/avtomobili/vaz_lada_xray_cross_2019_3154313860'}, {'title': 'Объявление «ВАЗ (LADA) Priora 1.6  MT, 2016, битый, 195 000 км» 7 фотографий', 'link': '/krasnouralsk/avtomobili/vaz_lada_priora_1.6_mt_2016_bityy_195_000_km_3132506877'}, {'title': 'Объявление «ВАЗ (LADA) 4x4 (Нива) 1.7  MT, 2019, 41 000 км» 7 фотографий', 'link': '/ekaterinburg/avtomobili/vaz_lada_4x4_niva_1.7_mt_2019_41_000_km_3458480874'}, {'title': 'Объявление «ВАЗ (LADA) Priora, 2011» 32 фотографии', 'link': '/zlatoust/avtomobili/vaz_lada_priora_2011_3136347543'}, {'title': 'Объявление «ВАЗ (LADA) Priora 1.6  MT, 2010, 127 790 км» 6 фотографий', 'link': '/chelyabinsk/avtomobili/vaz_lada_priora_1.6_mt_2010_127_790_km_3127128010'}, {'title': 'Объявление «ВАЗ (LADA) Granta, 2019» 7 фотографий', 'link': '/ekaterinburg/avtomobili/vaz_lada_granta_2019_3010945212'}, {'title': 'Объявление «ВАЗ (LADA) 4x4 (Нива) 1.7  MT, 2018, 26 512 км» 15 фотографий', 'link': '/chelyabinsk/avtomobili/vaz_lada_4x4_niva_1.7_mt_2018_26_512_km_2564063516'}, {'title': 'Объявление «ВАЗ (LADA) 2114 Samara 1.6  MT, 2011, 161 000 км» 12 фотографий', 'link': '/ekaterinburg/avtomobili/vaz_lada_2114_samara_1.6_mt_2011_161_000_km_3139472675'}, {'title': 'Объявление «ВАЗ (LADA) 2112 1.5  MT, 2004, 123 456 км» 8 фотографий', 'link': '/chelyabinsk/avtomobili/vaz_lada_2112_1.5_mt_2004_123_456_km_3216135742'}, {'title': 'Объявление «ВАЗ (LADA) 2115 Samara 1.5  MT, 2004, 250 000 км» 3 фотографии', 'link': '/ekaterinburg/avtomobili/vaz_lada_2115_samara_1.5_mt_2004_250_000_km_3132086278'}, {'title': 'Объявление «ВАЗ (LADA) Granta, 2021» 30 фотографий', 'link': '/ekaterinburg/avtomobili/vaz_lada_granta_2021_3088705449'}, {'title': 'Объявление «ВАЗ (LADA) 2107 1.6  MT, 2011, 28 000 км» 40 фотографий', 'link': '/ekaterinburg/avtomobili/vaz_lada_2107_1.6_mt_2011_28_000_km_3083365652'}, {'title': 'Объявление «ВАЗ (LADA) 2111, 2006» 14 фотографий', 'link': '/sverdlovskaya_oblast_berezovskiy/avtomobili/vaz_lada_2111_2006_3126495574'}, {'title': 'Объявление «ВАЗ (LADA) Niva, 2020» 11 фотографий', 'link': '/ekaterinburg/avtomobili/vaz_lada_niva_2020_3130607665'}, {'title': 'Объявление «ВАЗ (LADA) 2115 Samara 1.5  MT, 2001, 198 000 км» 6 фотографий', 'link': '/nizhniy_tagil/avtomobili/vaz_lada_2115_samara_1.5_mt_2001_198_000_km_3244379729'}, {'title': 'Объявление «ВАЗ (LADA) Granta, 2021» 9 фотографий', 'link': '/sverdlovskaya_oblast_zarechnyy/avtomobili/vaz_lada_granta_2021_2899713043'}, {'title': 'Объявление «ВАЗ (LADA) Vesta 1.6  MT, 2016, 176 000 км» 8 фотографий', 'link': '/ekaterinburg/avtomobili/vaz_lada_vesta_1.6_mt_2016_176_000_km_3238205372'}, {'title': 'Объявление «ВАЗ (LADA) 2110 1.6  MT, 2002, 250 000 км» 7 фотографий', 'link': '/sverdlovskaya_oblast_berezovskiy/avtomobili/vaz_lada_2110_1.6_mt_2002_250_000_km_3133951666'}, {'title': 'Объявление «ВАЗ (LADA) 1111 Ока 0.7  MT, 2001, 93 715 км» 4 фотографии', 'link': '/sverdlovskaya_oblast_beloyarskiy/avtomobili/vaz_lada_1111_oka_0.7_mt_2001_93_715_km_3127277919'}, {'title': 'Объявление «ВАЗ (LADA) 2115 Samara, 2009» 12 фотографий', 'link': '/ekaterinburg/avtomobili/vaz_lada_2115_samara_2009_3306146127'}, {'title': 'Объявление «ВАЗ (LADA) Kalina, 2016» 4 фотографии', 'link': '/alapaevsk/avtomobili/vaz_lada_kalina_2016_3124136807'}, {'title': 'Объявление «ВАЗ (LADA) Vesta, 2020» 10 фотографий', 'link': '/ekaterinburg/avtomobili/vaz_lada_vesta_2020_3217739939'}, {'title': 'Объявление «ВАЗ (LADA) Granta 1.6  MT, 2017, 153 000 км» 19 фотографий', 'link': '/chelyabinsk/avtomobili/vaz_lada_granta_1.6_mt_2017_153_000_km_3251922930'}, {'title': 'Объявление «ВАЗ (LADA) Vesta Cross, 2021» 17 фотографий', 'link': '/ekaterinburg/avtomobili/vaz_lada_vesta_cross_2021_3218370021'}, {'title': 'Объявление «ВАЗ (LADA) Vesta 1.6  MT, 2018, 30 302 км» 21 фотография', 'link': '/chelyabinsk/avtomobili/vaz_lada_vesta_1.6_mt_2018_30_302_km_3127181239'}, {'title': 'Объявление «ВАЗ (LADA) 2112 1.6  MT, 2006, 140 000 км» 9 фотографий', 'link': '/kyshtym/avtomobili/vaz_lada_2112_1.6_mt_2006_140_000_km_3175034594'}, {'title': 'Объявление «ВАЗ (LADA) 2107 1.6  MT, 2005, 125 000 км» 7 фотографий', 'link': '/kirovgrad/avtomobili/vaz_lada_2107_1.6_mt_2005_125_000_km_3138958791'}, {'title': 'Объявление «ВАЗ (LADA) Priora 1.6  MT, 2008, 220 000 км» 12 фотографий', 'link': '/tyumen/avtomobili/vaz_lada_priora_1.6_mt_2008_220_000_km_2312783145'}, {'title': 'Объявление «ВАЗ (LADA) Priora 1.6  MT, 2013, 103 553 км» 40 фотографий', 'link': '/chelyabinsk/avtomobili/vaz_lada_priora_1.6_mt_2013_103_553_km_3103152876'}, {'title': 'Объявление «ВАЗ (LADA) 2114 Samara, 2005» 18 фотографий', 'link': '/chelyabinsk/avtomobili/vaz_lada_2114_samara_2005_3172914182'}, {'title': 'Объявление «ВАЗ (LADA) 2115 Samara, 2006» 9 фотографий', 'link': '/bogdanovich/avtomobili/vaz_lada_2115_samara_2006_3104322631'}, {'title': 'Объявление «ВАЗ (LADA) Granta Cross 1.6  AMT, 2019, 27 428 км» 26 фотографий', 'link': '/ekaterinburg/avtomobili/vaz_lada_granta_cross_1.6_amt_2019_27_428_km_3250662382'}, {'title': 'Объявление «ВАЗ (LADA) Vesta 1.6  CVT, 2020, 52 365 км» 20 фотографий', 'link': '/ekaterinburg/avtomobili/vaz_lada_vesta_1.6_cvt_2020_52_365_km_3122180397'}]}

In [20]:
import pandas as pd
import json
from pandas import json_normalize

In [21]:
df3 = json_normalize(json.loads(data)['technologies'])

In [15]:
df3

   Courses    Fee Duration
0    Spark  22000   40Days
1  PySpark  25000   60Days
2   Hadoop  23000   50Days